
<div class="footer">
    <p id="comment">Share Your Favorite Fruit In the Post Bellow👇</p> 
<div class="post-nav-bar">
    <ul>
        <li>
            <a href="/create-post">Create</a>    
        </li>
        <li>
            <a href="/get-posts">See All Posts</a>
        </li>
    </ul>
</div>
<p>
    Made by Thierno Barry
</p>
</div>