
<div class="footer">
    <p id="comment">Share Your Favorite Fruit In the Post Bellow👇</p> 
<div class="post-nav-bar">
    <ul>
        <li>
            <a href="/create-post">Create</a>    
        </li>
        <li>
            <a href="/get-all-posts">See All Posts</a> 
        </li>
    </ul>
</div>
</div>
<footer class="footer">&copy; By Thierno Barry</footer>  