<%- include("partials/header.ejs") %>

<h1>Contact Me</h1>
<form action="/contact" method="post">
  <input name="name" type="text" placeholder="Name" class="feedback-input" required/>
  <input name="email" type="text" placeholder="Email" class="feedback-input" required/>
  <textarea name="text" class="feedback-input" placeholder="Comment" ></textarea>
  <input type="submit" value="SUBMIT" />   
</form>


<%- include("partials/footer.ejs") %> 