<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="stylesheet" href="/styles/main.css">
    
    <title>Avocado</title>
</head>
<body>
    <header class="top-bar">
        <div class="title">
            <h1>Welcome To The Fruit Posting Site</h1>
            <p id="quotes" class="sub-title">Avocado isn’t just a fruit — it’s a lifestyle. <br>       
                    From breakfast bowls to dinner plates, it rules them all.</p>
        </div>
    </header>
    <table class="fruit-table">
        <tr>
            <th>
                <img id="fruit-img" class= "home-img" src="https://th.bing.com/th/id/OIP.pITzY9neU8xyuYE62rLvVAHaEv?w=273&h=180&c=7&r=0&o=7&dpr=1.1&pid=1.7&rm=3" alt="Fruit profile"> 
                <p id="fruit-name">Banana</p> 
            </th>
            <th>
                <img id="fruit-img" class= "home-img" src="https://th.bing.com/th/id/OIP.pITzY9neU8xyuYE62rLvVAHaEv?w=273&h=180&c=7&r=0&o=7&dpr=1.1&pid=1.7&rm=3" alt="Fruit profile"> 
                <p id="fruit-name">Banana</p> 
            </th>
            <th>
                <img id="fruit-img" class= "home-img" src="https://th.bing.com/th/id/OIP.pITzY9neU8xyuYE62rLvVAHaEv?w=273&h=180&c=7&r=0&o=7&dpr=1.1&pid=1.7&rm=3" alt="Fruit profile"> 
                <p id="fruit-name">Banana</p> 
            </th>
            <th>
                <img id="fruit-img" class= "home-img" src="https://th.bing.com/th/id/OIP.pITzY9neU8xyuYE62rLvVAHaEv?w=273&h=180&c=7&r=0&o=7&dpr=1.1&pid=1.7&rm=3" alt="Fruit profile"> 
                <p id="fruit-name">Banana</p> 
            </th>
            <th>
                <img id="fruit-img" class= "home-img" src="https://th.bing.com/th/id/OIP.pITzY9neU8xyuYE62rLvVAHaEv?w=273&h=180&c=7&r=0&o=7&dpr=1.1&pid=1.7&rm=3" alt="Fruit profile"> 
                <p id="fruit-name">Banana</p> 
            </th>
        </tr>
        <tr>
            <td style="height: 100px">
                <img id="fruit-img" class= "home-img" src="https://th.bing.com/th/id/OIP.pITzY9neU8xyuYE62rLvVAHaEv?w=273&h=180&c=7&r=0&o=7&dpr=1.1&pid=1.7&rm=3" alt="Fruit profile"> 
                <p id="fruit-name">Banana</p> 
            </td>
        </tr>
        <tr>
            <td>Hello</td>

        </tr>
        <tr>
            <td>Hello</td>
        </tr>
        <tr>
            <td>Hello</td>
        </tr>
        <tr>
            <td>Hello</td>

        </tr>
        <tr>
            <td>Hello</td>
        </tr>
        <tr>
            <td>Hello</td>
        </tr>
    </table>




    <div class="footer">
    <p id="comment">Login/Register to share your favorite fruit or see other people's post.</p> 
    </div>
    
    <div class="post-nav-bar">
    <ul>
        <li>
            <a href="/Login">Login</a>    
        </li>
        <li>
            <a href="/Register">Register</a>   
        </li>
    </ul>
</div>
    
    <script src="/scripts.js"> </script>

</body>
</html>
<%- include("partials/footer.ejs") %> 
