<%- include("partials/header.ejs") %>
<div class="log-reg-btn">
    <a href="/login" class="btn-log">Login</a>
    <a href="/register" class="btn-log">Register</a>
</div>

<%- include("partials/footer.ejs") %>

