<%- include("partials/header.ejs") %>
<div class="log-reg-btn">
            <a href="/login" class="btn-log">Login</a> <h1>Or</h1>
            <a href="/register" class="btn-log">Register</a>
</div>

<%- include("partials/footer.ejs") %>   
  
