<%- include("partials/header.ejs") %>

<form action="">
    <input type="text" name="name" placeholder="name" class="feedback-input">
    <input type="email" name="email" placeholder="email"class="feedback-input" >
    <input type="text" name="Favorite" placeholder="favorite fruit" class="feedback-input">
    <!-- <input type="image" name="image" placeholder="image" > -->
    <input type="submit" value="Submit"> 
</form>










<%- include("partials/footer.ejs") %>
