<%- include("partials/header.ejs") %>

<form action="/create-post" method="post">
    <input type="text" name="name" placeholder="name" class="feedback-input">
    <input type="text" name="email" placeholder="email"class="feedback-input" >
    <input type="text" name="favorite-fruit" placeholder="favorite fruit" class="feedback-input">
    <input type="submit" value="Submit"> 
</form>



<%- include("partials/footer.ejs") %>
