<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/styles/main.css">  
    
    <title>Avocado</title>
</head>
<body>
    <header class="top-bar">
        <div class="title">
            <h1>Welcome To The Fruit Posting Site</h1>
            <p id="quotes" class="sub-title">Fruits are nature’s candy, packed with vitamins and vitality.</p>
        </div>
        
    </header>
    <div class="login-error">
        <h2>Email already Exist.</h2>
        <p>Please try login in using your email and password or reset password</p>
        <a class="log-error" href="/login">Login</a>
        <a class="reset-password" href="/password-reset">Reset Password</a>
    </div>
    
    <script src="/scripts.js"> </script>
</body>
</html>


<%- include("partials/footer.ejs") %>