<%- include ("partials/log-registerHeader.ejs") %>

<h1 class="reset-password-form">Reset Password</h1>
<form action="/reset-password" method="post">
    <label for="email">Enter your email</label>
    <input type="email" name="email" placeholder="Enter your email" required>
    <label for="password">New Password</label>
    <input type="text" name="new_password" placeholder="Enter new password" required>
    <label for="password">Repeat New Password</label>
    <input type="text" name="repeat_new_password" placeholder="Reenter new password" required> 
    <input type="submit" value="Submit">

</form>
 
<%- include ("partials/footer.ejs") %>  