<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    }
    </style>
</head>
<body>
    <table>
        <tr>
            <th rowspan="2">Name</th>
            <th>Email</th>
            <th>Fruit</th>
        </tr>
        <tr>
            <td colspan="2">hello</td>
        </tr>
        <tr>
            <td colspan="3">date</td>
        </tr>
    </table>
</body>
</html>