body{
    height: 100%;
    background-color:green; 
}

/* Home Page */
.top-bar {
  position: relative;
  padding: 20px;
}

.title {
  text-align: center;
}

.title h1, .title p {
  margin:0;
}

.title p {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: large;
}
.nav-bar{
  position: absolute;
  top: 20px;     
  right: 20px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;

} 

.nav-bar li {
margin-left: 50px;

}

a {
  text-decoration: none;
  color: white;
}

 a:hover{
  color: red;
}

.sub-title {
  color:white;
  padding-top: 10px;
  letter-spacing: 2px;
}

img{
    height: 400px;
    width: 700px;
    display: block;
    margin: 0 auto;

}

/* Footer Page */
.post-nav-bar ul li{
  margin-top: 10px;
  text-align: center;
  list-style: none;
}

.footer {
  text-align: center;
  margin-top: 50px;
}

#comment{
  color: black;
  letter-spacing: 1px;
}


/* Contact Page */
form {
  margin-top: 50px;
}

.feedback-input {
  color:black;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border: 2px solid #3586ff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.feedback-input:focus {
  border: 2px solid #3586ff;
}

textarea {
  height: 100px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 15%;
  background: #3586ff;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #3586ff;
}