html, body{
    height: 100%;
}

body {
  background-color:tan;
}

/* Home Page */
h1, p {
  text-align: center;
}


.nav-bar{
display: flex;
margin: 0;
padding: 0;
list-style: none;

}

.nav-bar li {
text-align: right;
width: 100px;
}


.sub-title {
  color: yellow;
}

img{
    height: 400px;
    width: 700px;
    display: block;
    margin: 0 auto;

}

.post-nav-bar ul li{
  margin-top: 25px;
  text-align: center;
  list-style: none;
}

/* Contact Page */
form {
  margin-top: 50px;
}

.feedback-input {
  color:black;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: white;
  border: 2px solid #3586ff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.feedback-input:focus {
  border: 2px solid #3586ff;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  width: 15%;
  background: #3586ff;
  border-radius: 50%;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #3586ff;
}